<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="/static/dashboard.js" defer></script>
</head>
<body>
    <h1>Dashboard</h1>

    <form action="/reset_database" method="POST">
        <button type="submit">Reset Database</button>
    </form>
    <hr>
    <h3>Total Metrics for Selected Governance for a given period (e.g., a year):</h3>
    <p>Economic: <abc id="total-economic">0</abc> $</p>
    <p>Environmental CO2eq emissions: <abc id="selected-governance-env-emissions">0</abc> kgCO2eq</p>
    <p>Total social: <abc id="total-social">0</abc></p>
    <hr>
    <h3>Governance goals</h3>
    <form id="filter-form">
        <label for="economic-goals">eco</label>
        <input type="number" id="economic-goals" name="economic-goals" value="0" required>
        <label for="governance-goals-env-emissions">GES emissions in kgCO2eq</label>
        <input type="number" id="governance-goals-env-emissions" name="governance-goals-env-emissions" value="0" required>
        <label for="social-goals">social</label>
        <input type="number" id="social-goals" name="social-goals" value="0" required>
        <button type="button" id="btn-adjust">Adjust gov</button>
    </form>
    <hr>
    <form action="/dashboard" method="POST" id="process-form" enctype="multipart/form-data">
        <div style="display: flex; flex-direction: row;">
            <div>
                <label for="economic">economic</label>
                <input type="number" name="economic" value="10"><br />
                <label for="envEmissions">GES emissions in kgCO2eq</label>
                <input type="number" name="envEmissions" value="10"><br />
                <label for="process_id">Process Identifier:</label>
                <input type="number" name="process_id" id="process_id" value="10" required><br />
                <label for="title">Title</label>
                <input type="text" name="title"><br />
                <label for="social">social</label>
                <input type="number" name="social" value="10"><br />
                <label for="process-amount">Amount</label>
                <input type="number" name="process-amount" value="1"><br />
                <label for="process-example">Upload a default process</label>
                <input type="file" name="process-example" multiple><br />
            </div>

            <div>
                <h3>Process Composition</h3>
                <div id="composition-container">
                    <!-- Composition items will be added here -->
                </div>
                <button type="button" id="add-composition-btn">Add Composition Item</button>
            </div>
        </div>

        <div>
            <input type="submit" value="Submit" id="submit-btn">
        </div>
    </form>

    <hr>
    <button id="export-btn">Export processes</button>
    <label for="import-file">Import processes</label>
    <input type="file" name="import-file" id="import-file" accept="application/json">
    <ul id="process-list"></ul>
</body>
</html>
