<a href="dashboard.html" id="" title="dashboard">dashboard</a><html>
	<body>
		dashboard
		
	<form action="/reset_database" method="POST">
	    <button type="submit">Reset Database</button>
	</form>
	
		{% for process in processes %}
					<li>
	            id={{ process.process_id }} eco={{ process.economic }}, env={{ process.environmental }}, soc={{ process.social }}
	            <form action="/select_process" method="POST">
	                <input type="checkbox" name="selected" value="{{ process.id }}" {% if process.selected %}checked{% endif %}>
	                <input type="submit" value="Select">
	            </form>
	        </li>
		{% endfor %}

		<h2>Total Metrics for Selected Governance:</h2>
    <p>Total Economic Impact: {{ total_economic }}</p>
    <p>Total Environmental Impact: {{ total_environmental }}</p>
    <p>Total Social Impact: {{ total_social }}</p>

		<form action="/dashboard" method="POST">
			<label for="economic">economic</label>
			<input type="number" name="economic" value=10 />
			<label for="environmental">environmental</label>
			<input type="number" name="environmental" value=10 />
			<label for="process_id">Process Identifier:</label>
			<input type="number" name="process_id" id="process_id" value=10 required>
			<label for="social">social</label>
			<input type="number" name="social" value=10>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>